@import '../../../node_modules/leaflet/dist/leaflet.css';
@import './blocks/map.scss';

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  justify-items: stretch;

  height: 100vh;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ccc;
}

#map {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
