body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  justify-items: stretch;

  height: 100vh;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ccc;
}
