$bg-color: #181818;
$bg-block: #191A1A;
$red-color: #AA213A;
$green-color: #3BCC92;
$blue-color: #1d6dec;
$light-gray: #A1A1AA;
$mediun-gray: #61616C;
$dark-gray: #171717;
$footer-bg: #1D1D1D;
$icon-color: #2b2b2b;
$font: Roboto, sans-serif;
$heading-font:'Gudea', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: $bg-color;
}

.main__content{
  min-height: calc(100vh - 55px);
}

.content{
  width: 100%;
  margin: 0 auto;
}

.wrapper__width{
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper--main{
  display: flex;
  align-items: center;
}

.header {
  height: 75px;
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
}

.content__block {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  background: $bg-block;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.countries {
  width: 225px;
  height: 550px;
}
.map {
  height: 550px;
  width: 610px;
}
.chart{
  width: 445px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.piechart {
  height: 240px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard {
  height: 240px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 2rem;
}
.fullscreen{
  position: absolute;
  height: calc(100vh - 160px);
  width: 100vw;
  top: 95px;
  left: 0;
  margin: 0;
  transition: all 0.5s;
  z-index: 2;

}

.hide {
  display: none;
}

.header__heading{
  font-family: $font;
  font-size: 2rem;
  color:$red-color;
}

.wrapper__update_time{
  font-size: 0.8rem;
  padding-left: 8rem;
  color: $mediun-gray;
}
.header__heading--dashboard,
.header__heading--country{
  color: white;
}

.heading__section{
  font-family: $heading-font;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
}

.heading__section--full{
  font-size: 1.3rem;
}
.dashboard__number--full{
  font-size: 2.5rem;
}

.settings__icons{
  display: flex;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.search_country{
  align-items: baseline;
  margin-inline-start: -0.5rem;
  margin-bottom: 1.5rem;
}

.input_country {
  height: 25px;
  width: 154px;
  border: none;
  font-size: 14px;
  color: white;
  background-color: $dark-gray;
  padding-left: 1rem;
  margin-right: 1.1rem;
}

.countries__item{
  list-style: none;
  border-bottom: 1px solid $icon-color;
  padding: .1rem 0;
}

.country__name {
  font-size: 14px;
  line-height: 170%;
  color: $light-gray;
}

.country__number{
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  padding-right: 1.2rem;
}

.wrapper_dashboard_chart{
  display: flex;
  flex-wrap: wrap;
}

.dashboard__number{
  font-family: $font;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 35px;
  margin-bottom: 1.2rem;
}
.dashboard__number--cases{
  color: $red-color;
}
.dashboard__number--recovered{
  color: $green-color;
}
.dashboard__number--death{
  color:$blue-color;
}
.footer {
  background: $footer-bg;
  height: 55px;
}
.wrapper--footer{
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.git_year__wrapper{
  padding: 0.5rem 0 0 1.8rem;
  font-size: 12px;
  color: $light-gray;
}

.git_link {
  text-decoration: none;
  font-size: 12px;
  color: $light-gray;
}
.git_link:hover {
  color: $red-color;
}

.year{
  color: $mediun-gray;
}

.logo__img {
  height: 25px;
  width: 68px;
  opacity: 0.3;
  padding-bottom: 0.3rem;
}

.settings__block {
  z-index: 2;
  position: absolute;
  left: 0;
  height: 240px;
  width: 210px;
  padding: 1rem;
  background: $dark-gray;
  border-radius: 1rem;
}

.settings__heading{
  font-family: $font;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 23px;
  color: $icon-color;
  margin-bottom: 0.2rem;
  padding-left: 2rem;
}
.settings__subheading{
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 170%;
  color: $red-color;
  margin-bottom: 0.3rem;
  padding-left: 2rem;
}
.settings__period,
.settings__numeric{
  margin-bottom: 0.3rem;
}
.btn__period,
.btn__numeric {
  font-size: 0.85rem;
  color:white;
  display: block;
  line-height: 160%;
}
.btn__settings{
  width: 63px;
  height: 23px;
  background: $red-color;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-weight: bold;
  font-size: 0.85rem;
  border: none;
  outline: none;
  margin-left: 100px;
}
.btn__settings:hover{
  background:$green-color;
  cursor: pointer;
}

i{
  color: $mediun-gray;
  margin-right: 0.4rem;
  opacity: 0.5;
}
i:hover{
  color: white;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 17px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  transition: 0.5s;
  position: relative;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  float: left;
  margin-right: 1rem;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 6px;
  left: 4px;
  background:$red-color;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  top: 23px;
}

@media (max-width: 1280px){
  .wrapper__width {
    max-width: 768px;
}
  .wrapper--main {
    flex-direction: column;
  }
}

@media (max-width: 768px){
  .wrapper__width {
    max-width: 500px;
}
  .wrapper--main {
    flex-direction: column;
  }
}

