$bg-color: #232323;

.wrapper {
  position: fixed;
  z-index: 1000;
  bottom:0;
  width: 100%;
  background: $bg-color;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  &-hidden {
    bottom: -100%;
  }
}

.kbd {
  user-select: none;
  width: 480px;
  margin: 0 auto;
  background-color: $bg-color;
  border-radius: 12px;
  padding: 7px;

  font-size: 18px;
  font-weight: 100;

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-key {
    width: 30px;
    height: 30px;
    margin: 2px 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #191a1a;
    text-align: center;
    border-radius: 3px;
    box-shadow: black 2px 2px 2px;

    color: white;

    &.kbd-special {
      background-color: #121515;
      font-size: 13px;
    }

    &:hover {
      background: #aa213a;
      cursor: pointer;
    }

    &:active, &.pressed {
      position: relative;
      top: 2px;
      left: 2px;
      box-shadow: none;
      background-color: #aa213a;
      color: white;
    }

    i {
      color: white;
      opacity: 1;
      margin: 0;
      font-size: 18px;
      }

  &-space {width: 134px;}
  &-shift {width: 64px;}
  &-wide {width: 46px;}
}
}

.kbd-space{
  flex-grow: 1;
}
@media only screen and (min-width: 1020px) {

  .kbd {
    width: 1000px;
    transform: rotate3d(1,0,0,15deg);
    perspective: 70rem;
    perspective-origin: 50% 50%;
    font-size: 22px;


    &-key {
      width: 60px;
      height: 60px;
      margin: 5px 1px;
      border-radius: 8px;
    }

    &.kbd-special {
      font-size: 16px;
    }

    i {
      font-size: 25px;
    }

    &-space {
      flex-grow: 0;
      width: 300px;
    }

    &-shift {width: 154px;}
    &-wide {width: 106px;}
  }


}
