@mixin mapElement($position: absolute) {
  position: $position;
  z-index: 1000;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  // background-color: red;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);

  &:hover {
    .icon-marker-tooltip {
      display: block;
    }
  }
}

.icon-marker--deaths {
  background-color: $die-color;
}

.icon-marker--cases {
  background-color: $desease-color;
}

.icon-marker--recovered {
  background-color: $recovered-color;
}

#tooltip {
  @include mapElement;

  top: 50px;
  right: 10px;
  width: 200px;
  min-height: 100px;
  display: none;
  border-radius: 5px;
  background-color: #fff;
}

.flag {
  width: 30px;
  height: 20px;
}

.map-controls {
  @include mapElement;

  right: 10px;
  top: 10px;
  display: flex;
}

.map-controls__button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #333;
  color: #2493f2;
  outline: none;
  border: none;
  border-left: 1px solid rgb(64, 64, 64);
  border-right: 1px solid rgb(64, 64, 64);
  border-bottom: 1px solid rgb(64, 64, 64);

  &:nth-of-type(1) {
    border-top: 1px solid rgb(64, 64, 64);
  }

  &:disabled {
    cursor: default;
    color:rgb(64, 64, 64);
  }
}

.map-legend {
  @include mapElement;

  top: 50px;
  right: -100%;
  width: 200px;
  min-height: 100px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 300ms;
}

.show-legend {
  right: 10px;
}

.map-settings {
  @include mapElement;

  top: 50px;
  right: -100%;
  width: 200px;
  min-height: 100px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 300ms;
}

.show-map-settings {
  right: 10px;
}

.legend-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.legend-item {
  height: 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.legend-marker-wrapper {
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);
}

.legend-marker--deaths {
  background-color: $die-color;
}

.legend-marker--cases {
  background-color: $desease-color;
}

.legend-marker--recovered {
  background-color: $recovered-color;
}

.legend-title {
  text-align: center;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

#map {
  & .settings__icons {
    @include mapElement(relative);
  }

  & .settings__map {
    // @include mapElement;
    z-index: 1000;
  }
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}